<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Pana</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <header class="header">
        <img src="../assets/images/logo.png">
    </header>
    <main class="container">
        <h1 class="h1">Elije el tipo de su vehículo</h1>
        <div class="flex-row">
            <div class="sm-100 md-50">
                <a class="nodecoration" href="step1.1.html"><div class="card text-center active">
                    <h2 class="h2">Pick up</h2>
                    <img src="../assets/images/pickup.png"/>
                </div></a>
            </div>
            <div class="sm-100 md-50">
                <a class="nodecoration" href="step1.2.html"><div class="card text-center">
                    <h2 class="h2">SUV</h2>
                    <img src="../assets/images/suv.png"/>
                </div></a>
            </div>
            <div class="sm-100 md-50">
                <a class="nodecoration" href="step1.3.html"><div class="card text-center">
                    <h2 class="h2">Sedan</h2>
                    <img src="../assets/images/sedan.png"/>
                </div></a>
            </div>
            <div class="sm-100 md-50">
                <a class="nodecoration" href="step1.4.html"><div class="card text-center">
                    <h2 class="h2">Hatchback</h2>
                    <img src="../assets/images/hatchback.png"/>
                </div></a>
            </div>
        </div>
        <div class="text-center">
            <div class="highlight">El precio del planchado dependerá del daño del vehículo. * Precios incluyen IGV</div>
        </div>
    </main>
    <footer class="footer">
        <div class="flex-row align-center justify-center">
            <h3 class="h3">Síguenos:</h3>
            <a><img alt="facebook" src="../assets/images/facebook.png"/></a>
            <a><img alt="instagram" src="../assets/images/instagram.png"/></a>
        </div>
        <div class="flex-row sm-text-center">
            <div class="sm-100 grow-1">Copyright © Grupo Pana.<span class="sm-block">Todos los derechos reservados.</span></div>
            <div class="sm-100">Términos y condiciones</div>
        </div>
    </footer>
</body>
</html>