<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Pana</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
</head>
<body>
    <header class="header">
        <img src="../assets/images/logo.png">
    </header>
    <main class="container-fluid">
        <h2 class="h2">Seleccione los paños en cada círculo de la imagen</h2>
        <div class="flex-row">
            <div class="sm-100 md-50 lg-40 xl-30 selector_flex">
                <div class="menu">
                    <div class="menu-header">
                        <div class="step active">
                           <button class="btn" type="button">1</button> 
                            Selecciona <br>las partes
                        </div>
                        <div class="step">
                          <a href="step2.3.html"><button class="btn" type="button">2</button></a>  
                            Tipos de <br> servicio
                        </div>
                        <div class="step">
                           <a href="step3.3.html"><button class="btn" type="button">3</button></a>
                            Cotiza <br>tu auto
                        </div>
                    </div>
                    <div class="menu-body">
                        <div class="flex-row justify-between">
                            <h5 class="text-bold">Tamaño de la SUV</h5>
                            <div class="justify-space-evenly">
                                <span>
                                    <label class="label text-bold">S</label>
                                    <input type="radio" name="tamañoSUV" id="s" checked/>
                                </span>
                                <span>
                                    <label class="label text-bold">M</label>
                                    <input type="radio" name="tamañoSUV" id="m"/>
                                </span>
                                <span>
                                    <label class="label text-bold">L</label>
                                    <input type="radio" name="tamañoSUV" id="l"/>
                                </span>
                            </div>
                        </div>
                        <div class="flex-row justify-end">
                            <div class="justify-center">
                                <span class="highlight">Pintado general</span>
                            </div>
                        </div>
                        <div class="flex-row justify-end pintado_general">
                            <div class="justify-space-evenly">
                                <input type="radio" name="pintado" id="1"/>
                                <input type="radio" name="pintado" id="2"/>
                                <input type="radio" name="pintado" id="3"/>
                            </div>
                        </div>
                        <div class="flex-row justify-start">
                            <h4>Partes del auto</h4>
                        </div>
                        <div class="flex-row justify-end">
                            <div class="justify-space-evenly">
                                <label class="label text-bold">Leve</label>
                                <label class="label text-bold">Moderado</label>
                                <label class="label text-bold">Grave</label>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">1. Guardafando delandetero copiloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="1" id="l"/>
                                <input type="radio" name="1" id="m"/>
                                <input type="radio" name="1" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">2. Puerta delandetero copiloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio"  name="2" id="l"/>
                                <input type="radio" name="2" id="m"/>
                                <input type="radio" name="2" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">3. Puerta trasera copiloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="3" id="l"/>
                                <input type="radio" name="3" id="m"/>
                                <input type="radio" name="3" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">4. Guardafando trasero copiloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="4" id="l"/>
                                <input type="radio" name="4" id="m"/>
                                <input type="radio" name="4" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">5. Parachoque trasero</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="5" id="l"/>
                                <input type="radio" name="5" id="m"/>
                                <input type="radio" name="5" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">6. Guardafando trasero piloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="6" id="l"/>
                                <input type="radio" name="6" id="m"/>
                                <input type="radio" name="6" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">7. Puerta trasera piloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="7" id="l"/>
                                <input type="radio" name="7" id="m"/>
                                <input type="radio" name="7" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">8. Puerta delandetera piloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="8" id="l"/>
                                <input type="radio" name="8" id="m"/>
                                <input type="radio" name="8" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5>9. Guardafando delantero piloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="9" id="l" checked/>
                                <input type="radio" name="9" id="m"/>
                                <input type="radio" name="9" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">10. Parachoque delantero</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="10" id="l"/>
                                <input type="radio" name="10" id="m"/>
                                <input type="radio" name="10" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5>11. Capot</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="11" id="l"/>
                                <input type="radio" name="11" id="m" checked/>
                                <input type="radio" name="11" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">12. Techo</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="12" id="l"/>
                                <input type="radio" name="12" id="m"/>
                                <input type="radio" name="12" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">13. Maletera</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="12" id="l"/>
                                <input type="radio" name="12" id="m"/>
                                <input type="radio" name="12" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row w-auto">
                            <div>
                                <button class="btn btn_calcular_precio_p1" type="button">Calcular precio</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="disclaimer">
                    *Pintado con pintura automotriz poliuretana bicapa Sherwin Williams (procedencia americana) en cabina de pintura. *El precio del planchado es referencial de acuerdo al daño seleccionado.
                </div>
            </div>
            <div class="sm-100 md-50 lg-60 xl-70">
                <div class="car-selector-wrapper">
                    <div class="flex-row justify-between piloto-copiloto">
                        <h2>Piloto</h2>
                        <h2>Copiloto</h2>
                    </div>
                    <div class="car-selector">
                        <svg width="647" height="1362" viewBox="0 0 647 1362" fill="none" xmlns="http://www.w3.org/2000/svg" class="preview-sedan">
                            <path d="M32.3573 361.339C28.1922 331.78 26.0689 301.975 26.0689 272.171V208.713C25.9872 93.4256 119.252 0 234.158 0H323.012H411.867C526.773 0 619.956 93.4256 619.956 208.713V272.171C619.956 301.975 617.832 331.78 613.667 361.339L601.254 448.869C596.681 481.293 594.557 514.046 595.047 546.798L600.111 910.265C600.437 931.636 603.786 952.843 610.074 973.231C616.689 994.602 620.037 1016.87 620.037 1039.31V1200.61C620.037 1289.78 548.007 1362 459.071 1362H323.012H186.954C98.018 1362 25.9872 1289.78 25.9872 1200.61V1039.31C25.9872 1016.96 29.3356 994.684 35.9506 973.231C42.239 952.843 45.6691 931.636 45.9141 910.265L50.9775 546.798C51.4675 514.046 49.3441 481.293 44.7707 448.869L32.3573 361.339Z" fill="#E2DFE6"/>
                            <path d="M597.333 379.352C601.334 351.513 603.294 323.346 603.294 295.179V235.324C603.294 126.587 515.338 38.4019 406.884 38.4019H323.011H239.22C130.684 38.32 42.7278 126.505 42.7278 235.324V295.179C42.7278 323.346 44.6878 351.431 48.6895 379.352L60.4497 461.888C64.778 492.511 66.7381 523.38 66.3297 554.249L61.593 897.246C61.348 917.389 58.163 937.45 52.2012 956.692C45.9128 976.834 42.7278 997.878 42.7278 1019V1171.22C42.7278 1255.31 110.757 1323.52 194.63 1323.52H323.011H451.393C535.265 1323.52 603.294 1255.31 603.294 1171.22V1019C603.294 997.878 600.109 976.834 593.821 956.692C587.859 937.45 584.674 917.471 584.429 897.246L579.692 554.331C579.284 523.462 581.244 492.511 585.572 461.97L597.333 379.352Z" fill="#FBFBFB"/>
                            <path d="M41.9926 405.39C41.9926 405.39 8.0189 428.89 2.38384 440.189C-3.25123 451.489 2.38384 461.806 6.14055 460.905C9.89726 460.004 53.9978 441.172 53.9978 441.172L41.9926 405.39Z" fill="#E2DFE6"/>
                            <path d="M604.028 405.39C604.028 405.39 638.002 428.89 643.637 440.189C649.272 451.489 643.637 461.806 639.88 460.905C636.123 460.004 592.023 441.172 592.023 441.172L604.028 405.39Z" fill="#E2DFE6"/>
                            <path class="luces" d="M180.5 43.151C182.623 38.0744 183.195 32.5065 182.46 27.0205C144.566 42.3322 112.471 68.9433 90.4204 102.842C104.304 91.2148 119.821 81.471 136.399 74.2655C153.386 66.9782 173.476 60.264 180.5 43.151Z" fill="#669FCC"/>
                            <path class="luces" d="M465.521 43.151C463.398 38.0744 462.826 32.5065 463.561 27.0205C501.455 42.3322 533.55 68.9433 555.6 102.842C541.717 91.2148 526.2 81.471 509.622 74.2655C492.635 66.9782 472.545 60.264 465.521 43.151Z" fill="#669FCC"/>
                            <path d="M119.167 749.043C118.269 677.725 116.554 612.384 116.554 588.393C116.554 516.42 63.0618 448.705 63.0618 448.705V727.754C81.3553 735.696 100.302 742.247 119.167 749.043Z" fill="#45474A"/>
                            <path d="M117.617 926.395C119.822 881.116 119.904 818.804 119.251 759.359C100.304 754.119 81.5201 748.387 62.9816 741.755V953.416C81.6018 944.982 99.8137 936.139 117.617 926.395Z" fill="#45474A"/>
                            <path d="M63.0618 968.81V1042.67C63.0618 1042.67 109.531 1041.27 116.554 945.31C116.717 942.69 116.962 939.988 117.126 937.204C99.3222 948.258 81.7637 959.639 63.0618 968.81Z" fill="#45474A"/>
                            <path d="M395.206 14.1653H250.736C233.259 14.1653 216.353 16.2942 200.102 20.3063C218.477 32.834 240.2 39.6301 262.577 39.6301H383.445C405.741 39.6301 427.546 32.9159 445.921 20.3063C429.669 16.2942 412.682 14.1653 395.206 14.1653Z" fill="#45474A"/>
                            <path d="M526.852 749.043C527.751 677.725 529.466 612.384 529.466 588.393C529.466 516.42 582.958 448.705 582.958 448.705V727.754C564.664 735.696 545.717 742.247 526.852 749.043Z" fill="#45474A"/>
                            <path d="M528.404 926.395C526.199 881.116 526.117 818.804 526.77 759.359C545.717 754.119 564.501 748.387 583.039 741.755V953.416C564.419 944.982 546.207 936.139 528.404 926.395Z" fill="#45474A"/>
                            <path d="M582.958 968.81V1042.67C582.958 1042.67 536.489 1041.27 529.466 945.31C529.302 942.69 529.057 939.988 528.894 937.204C546.697 948.258 564.256 959.639 582.958 968.81Z" fill="#45474A"/>
                            <path d="M554.131 401.869C550.946 424.96 540.329 471.304 505.294 518.631C500.393 525.181 492.472 528.702 484.305 527.965C457.273 525.673 391.286 520.678 323.011 520.678C254.737 520.678 188.668 525.673 161.718 527.965C153.551 528.702 145.629 525.181 140.729 518.631C105.694 471.304 95.0771 424.96 91.892 401.869C90.5037 392.044 95.2404 382.382 103.897 377.551C127.989 364.368 188.995 341.442 323.011 341.442C457.028 341.442 518.115 364.368 542.126 377.551C550.782 382.3 555.519 392.044 554.131 401.869ZM502.762 987.643C502.762 987.643 427.464 1025.72 323.011 1025.72C218.559 1025.72 143.261 987.643 143.261 987.643C128.561 1029.89 122.844 1086.55 120.802 1117.01C119.904 1130.52 127.172 1143.3 139.259 1149.27C170.783 1164.91 237.995 1192.18 323.011 1192.18C408.027 1192.18 475.24 1164.91 506.764 1149.27C518.85 1143.3 526.119 1130.52 525.22 1117.01C523.179 1086.55 517.462 1029.89 502.762 987.643Z" fill="#45474A"/>
                            <path d="M128.887 1323.43C111.083 1318.03 94.5046 1308.37 81.0295 1295.43C77.5178 1292.07 74.0877 1288.47 69.7593 1286.34C66.7376 1284.87 63.0626 1284.38 59.9592 1285.28C78.8244 1311.15 107.816 1329.17 141.055 1333.59C141.055 1333.51 141.137 1333.34 141.055 1333.26C140.892 1327.69 134.277 1325.07 128.887 1323.43Z" fill="#F3482A"/>
                            <path d="M517.053 1323.43C534.857 1318.03 551.435 1308.37 564.91 1295.43C568.422 1292.07 571.852 1288.47 576.18 1286.34C579.202 1284.87 582.877 1284.38 585.981 1285.28C567.115 1311.15 538.123 1329.17 504.885 1333.59C504.885 1333.51 504.803 1333.34 504.885 1333.26C505.048 1327.69 511.745 1325.07 517.053 1323.43Z" fill="#F3482A"/>
                            </svg>
                        <div class="selector sedan" data-selector="1">
                            <button class="btn">1</button>
                            <h5>Guardafando<br>delandetero</h5>
                        </div>
                        <div class="selector sedan" data-selector="2">
                            <button class="btn">2</button>
                            <h5>Puerta<br>delandetera</h5>
                        </div>
                        <div class="selector sedan" data-selector="3">
                            <button class="btn">3</button>
                            <h5>Puerta<br>trasera</h5>
                        </div>
                        <div class="selector sedan" data-selector="4">
                            <button class="btn">4</button>
                            <h5>Guardafando<br>trasero</h5>
                        </div>
                        <div class="selector sedan" data-selector="5">
                            <button class="btn">5</button>
                            <h5>Parachoque<br>trasero</h5>
                        </div>
                        <div class="selector sedan" data-selector="6">
                            <button class="btn">6</button>
                            <h5>Guardafando<br>trasero</h5>
                        </div>
                        <div class="selector sedan" data-selector="7">
                            <button class="btn">7</button>
                            <h5>Puerta<br>trasera</h5>
                        </div>
                        <div class="selector sedan" data-selector="8">
                            <button class="btn">8</button>
                            <h5>Puerta<br>delandetera</h5>
                        </div>
                        <div class="selector active sedan" data-selector="9">
                            <button class="btn">9</button>
                            <h5>Guardafando<br>delandetero</h5>
                        </div>
                        <div class="selector sedan" data-selector="10">
                            <button class="btn">10</button>
                            <h5>Parachoque<br>delatero</h5>
                        </div>
                        <div class="selector active sedan" data-selector="11">
                            <button class="btn">11</button>
                            <h5>Capot</h5>
                        </div>
                        <div class="selector sedan" data-selector="12">
                            <button class="btn">12</button>
                            <h5>Techo</h5>
                        </div>
                        <div class="selector sedan" data-selector="13">
                            <button class="btn">13</button>
                            <h5>Maletera</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="flex-row align-center justify-center">
            <h3 class="h3">Síguenos:</h3>
            <a class="social-redes"><img alt="facebook" src="../assets/images/facebook.png"/></a>
            <a class="social-redes"><img alt="instagram" src="../assets/images/instagram.png"/></a>
        </div>
        <div class="flex-row sm-text-center">
            <div class="sm-100 grow-1"> Copyright © Grupo Pana.<span class="sm-block">Todos los derechos reservados.</span></div>
            <div class="sm-100">Términos y condiciones</div>
        </div>
    </footer>
</body>
</html>