<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Pana</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
</head>
<body>
    <header class="header">
        <img src="../assets/images/logo.png">
    </header>
    <main class="container-fluid">
        <h2 class="h2">Seleccione los paños en cada círculo de la imagen</h2>
        <div class="flex-row">
            <div class="sm-100 md-50 lg-40 xl-30 selector_flex">
                <div class="menu">
                    <div class="menu-header">
                        <div class="step active">
                         <button class="btn" type="button">1</button>   
                            Selecciona <br>las partes
                        </div>
                        <div class="step">
                           <a href="step2.4.html"><button class="btn" type="button">2</button></a> 
                            Tipos de <br> servicio
                        </div>
                        <div class="step">
                           <a href="step3.4.html"><button class="btn" type="button">3</button></a> 
                            Cotiza <br>tu auto
                        </div>
                    </div>
                    <div class="menu-body">
                        <div class="flex-row justify-between">
                            <h5 class="text-bold">Tamaño de la SUV</h5>
                            <div class="justify-space-evenly">
                                <span>
                                    <label class="label text-bold">S</label>
                                    <input type="radio" name="tamañoSUV" id="s" checked/>
                                </span>
                                <span>
                                    <label class="label text-bold">M</label>
                                    <input type="radio" name="tamañoSUV" id="m"/>
                                </span>
                                <span>
                                    <label class="label text-bold">L</label>
                                    <input type="radio" name="tamañoSUV" id="l"/>
                                </span>
                            </div>
                        </div>
                        <div class="flex-row justify-end">
                            <div class="justify-center">
                                <span class="highlight">Pintado general</span>
                            </div>
                        </div>
                        <div class="flex-row justify-end pintado_general">
                            <div class="justify-space-evenly">
                                <input type="radio" name="pintado" id="1"/>
                                <input type="radio" name="pintado" id="2"/>
                                <input type="radio" name="pintado" id="3"/>
                            </div>
                        </div>
                        <div class="flex-row justify-start">
                            <h4>Partes del auto</h4>
                        </div>
                        <div class="flex-row justify-end">
                            <div class="justify-space-evenly">
                                <label class="label text-bold">Leve</label>
                                <label class="label text-bold">Moderado</label>
                                <label class="label text-bold">Grave</label>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">1. Guardafando delandetero copiloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="1" id="l"/>
                                <input type="radio" name="1" id="m"/>
                                <input type="radio" name="1" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">2. Puerta delandetero copiloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio"  name="2" id="l"/>
                                <input type="radio" name="2" id="m"/>
                                <input type="radio" name="2" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">3. Puerta trasera copiloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="3" id="l"/>
                                <input type="radio" name="3" id="m"/>
                                <input type="radio" name="3" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">4. Guardafando trasero copiloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="4" id="l"/>
                                <input type="radio" name="4" id="m"/>
                                <input type="radio" name="4" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">5. Parachoque trasero</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="5" id="l"/>
                                <input type="radio" name="5" id="m"/>
                                <input type="radio" name="5" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">6. Guardafando trasero piloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="6" id="l"/>
                                <input type="radio" name="6" id="m"/>
                                <input type="radio" name="6" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">7. Puerta trasera piloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="7" id="l"/>
                                <input type="radio" name="7" id="m"/>
                                <input type="radio" name="7" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">8. Puerta delandetera piloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="8" id="l"/>
                                <input type="radio" name="8" id="m"/>
                                <input type="radio" name="8" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5>9. Guardafando delantero piloto</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="9" id="l" checked/>
                                <input type="radio" name="9" id="m"/>
                                <input type="radio" name="9" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">10. Parachoque delantero</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="10" id="l"/>
                                <input type="radio" name="10" id="m"/>
                                <input type="radio" name="10" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5>11. Capot</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="11" id="l"/>
                                <input type="radio" name="11" id="m" checked/>
                                <input type="radio" name="11" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">12. Techo</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="12" id="l"/>
                                <input type="radio" name="12" id="m"/>
                                <input type="radio" name="12" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row justify-between">
                            <h5 class="text-light text-gray">13. Maletera</h5>
                            <div class="justify-space-evenly">
                                <input type="radio" name="12" id="l"/>
                                <input type="radio" name="12" id="m"/>
                                <input type="radio" name="12" id="g"/>
                            </div>
                        </div>
                        <div class="flex-row w-auto">
                            <div>
                                <button class="btn btn_calcular_precio_p1" type="button">Calcular precio</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="disclaimer">
                    *Pintado con pintura automotriz poliuretana bicapa Sherwin Williams (procedencia americana) en cabina de pintura. *El precio del planchado es referencial de acuerdo al daño seleccionado.
                </div>
            </div>
            <div class="sm-100 md-50 lg-60 xl-70">
                <div class="car-selector-wrapper">
                    <div class="flex-row justify-between piloto-copiloto">
                        <h2>Piloto</h2>
                        <h2>Copiloto</h2>
                    </div>
                    <div class="car-selector">
                        <svg width="637" height="1414" viewBox="0 0 637 1414" fill="none" xmlns="http://www.w3.org/2000/svg" class="preview-hatchback">
                            <path d="M28.7115 358.8C24.7115 330.1 28.8114 293.5 28.8114 264.5V202.8C28.7114 90.8 119.311 0 231.011 0H317.311H403.611C515.211 0 605.811 90.8 605.811 202.8V264.5C605.811 293.5 609.811 327.2 605.811 355.9L598.911 447.9C594.511 479.4 597.011 538.5 597.511 570.3L595.411 859.7C595.711 880.5 590.211 925.8 596.311 945.6C596.111 974.3 600.411 1012.7 600.411 1034.5L593.311 1219.9C591.011 1253.4 585.011 1295.9 566.811 1328.9C560.111 1341.1 553.711 1366.2 544.911 1376.3C520.911 1403.7 486.211 1409.4 449.711 1409.4L337.011 1413C324.011 1413.6 311.011 1413.6 298.011 1413L185.311 1409.4C147.611 1409.4 118.011 1405.5 97.0114 1381.9C84.4114 1367.7 72.9114 1343.3 63.4114 1314.7C52.5114 1281.7 40.0114 1263 37.9114 1185.3L38.6115 1022.4C38.6115 1000.7 38.6114 973.6 38.5114 945.6C39.1114 921 38.3115 901 38.6115 880.2L37.7115 590.3C38.2115 558.5 41.2114 494 36.8114 462.5L28.7115 358.8Z" fill="#E2DFE6"/>
                            <path d="M583.911 400.5C587.812 373.5 589.711 346.1 589.711 318.7V260.5C592.211 129.4 513.811 36.1 408.411 36.1H317.411H231.411C125.911 36 51.3114 103.3 51.3114 224.3L52.7114 326.2C52.7114 353.6 53.5114 386.8 57.4114 413.9L62.3114 480.6C66.5114 510.4 64.4115 543.4 64.1115 573.4L63.5114 903.6C63.3114 923.2 62.0114 946.9 57.5114 972.4C51.4114 992 57.5114 1179 57.5114 1179C57.5114 1260.7 87.7113 1396.9 192.711 1391.3H317.311H442.011C540.311 1391.3 575.211 1280.2 575.211 1198.5L577.111 1043.1C577.111 1022.6 571.511 923.2 571.211 903.5L573.311 584.6C572.911 554.6 572.911 516.2 577.111 486.5L583.911 400.5Z" fill="#FBFBFB"/>
                            <path class="luces" d="M459.311 44.2C605.511 93.7 557.211 187.3 563.211 208.5C560.311 190.7 551.611 157.4 529.011 124.1C497.311 74.1999 464.411 53.1 459.311 44.2Z" fill="#669FCC"/>
                            <path class="luces" d="M103.111 124.1C80.5115 157.4 71.8114 190.7 68.9114 208.5C74.9114 187.3 26.6114 93.7999 172.811 44.2C167.711 53.1 134.811 74.1999 103.111 124.1Z" fill="#669FCC"/>
                            <path d="M394.411 17.2H246.511C228.611 17.2 211.311 19.4 194.711 23.5C213.511 36.3 235.711 43.3 258.611 43.3H382.311C405.111 43.3 427.411 36.4 446.211 23.5C429.711 19.3 412.311 17.2 394.411 17.2Z" fill="#45474A"/>
                            <path d="M167.711 1384.9C149.511 1379.4 132.511 1369.5 118.711 1356.2C115.111 1352.8 111.611 1349.1 107.211 1346.9C104.111 1345.4 100.311 1344.9 97.2114 1345.8C116.511 1372.3 146.211 1390.7 180.211 1395.2C180.211 1395.1 180.311 1394.9 180.211 1394.9C180.011 1389.2 173.311 1386.6 167.711 1384.9Z" fill="#F3482A"/>
                            <path d="M466.111 1384.9C484.311 1379.4 501.311 1369.5 515.111 1356.2C518.711 1352.8 522.211 1349.1 526.611 1346.9C529.711 1345.4 533.511 1344.9 536.611 1345.8C517.311 1372.3 487.611 1390.7 453.611 1395.2C453.611 1395.1 453.511 1394.9 453.611 1394.9C453.811 1389.2 460.711 1386.6 466.111 1384.9Z" fill="#F3482A"/>
                            <path d="M528.811 451.3C526.011 471.6 518.612 508.9 510.412 559.4C507.812 567.1 501.711 610.6 494.611 610C470.911 608 382.512 603.3 322.611 603.3C262.711 603.3 174.011 607.3 150.311 609.3C143.111 609.9 136.911 598.1 132.611 592.3C126.211 546.3 111.711 475.3 108.911 455C107.711 446.4 111.811 437.9 119.411 433.7C140.511 422.1 188.111 381.9 320.611 381.8C457.711 381.7 497.211 418.3 518.311 429.9C525.911 434.1 530.011 442.7 528.811 451.3Z" fill="#45474A"/>
                            <path d="M175.811 1291.9H460.711C469.811 1291.9 477.211 1299.3 477.211 1308.4V1315.5C477.211 1325.4 472.012 1334.7 463.411 1339.8L431.411 1358.9C427.711 1361.1 423.511 1362.3 419.211 1362.3H232.811C221.311 1362.3 210.011 1359.9 199.511 1355.1L171.211 1342.3C163.111 1338.6 157.811 1330.5 157.811 1321.6V1309.8C157.911 1299.9 165.911 1291.9 175.811 1291.9Z" fill="#45474A"/>
                            <path d="M441.311 819.7H191.411C177.311 819.7 165.911 808.3 165.911 794.2V739.5C165.911 725.4 177.311 714 191.411 714H441.311C455.411 714 466.811 725.4 466.811 739.5V794.2C466.811 808.3 455.411 819.7 441.311 819.7Z" fill="#45474A"/>
                            <path d="M443.211 1030.1H189.411C176.411 1030.1 165.811 1019.5 165.811 1006.5V879C165.811 866 176.411 855.4 189.411 855.4H443.211C456.211 855.4 466.811 866 466.811 879V1006.5C466.811 1019.5 456.311 1030.1 443.211 1030.1Z" fill="#45474A"/>
                            <path d="M560.111 768.1V452.9C560.111 452.9 535.911 539.2 524.611 609.8C520.711 634 510.811 716.2 509.911 789.2C528.711 781.3 541.411 776.2 560.111 768.1Z" fill="#45474A"/>
                            <path d="M550.511 998.3L559.511 810.7C540.511 817.8 529.211 822.2 509.711 829C509.011 889.8 504.811 963.5 502.911 1008.3C522.911 1003.8 530.111 1002.3 550.511 998.3Z" fill="#45474A"/>
                            <path d="M502.811 1049.4C508.011 1151.3 535.011 1182.4 535.011 1182.4L542.911 1089.9C524.111 1070.5 517.211 1063.7 502.811 1049.4Z" fill="#45474A"/>
                            <path d="M545.811 1077.7L502.811 1036.7V1016.9L550.511 1008.4L545.811 1077.7Z" fill="#45474A"/>
                            <path d="M127.211 789.3C126.311 716.3 116.411 634.1 112.511 609.9C101.211 539.3 77.0114 453 77.0114 453V768.1C95.8114 776.2 108.511 781.3 127.211 789.3Z" fill="#45474A"/>
                            <path d="M134.411 1008.4C132.511 963.6 128.311 889.9 127.611 829.1C108.111 822.2 96.8114 817.9 77.8114 810.8L86.8114 998.4C107.111 1002.3 114.312 1003.8 134.411 1008.4Z" fill="#45474A"/>
                            <path d="M94.3114 1090L102.211 1182.5C102.211 1182.5 129.211 1151.4 134.411 1049.5C120.011 1063.7 113.111 1070.5 94.3114 1090Z" fill="#45474A"/>
                            <path d="M91.4114 1077.7L134.411 1036.7V1016.9L86.7114 1008.4L91.4114 1077.7Z" fill="#45474A"/>
                            <path d="M42.2115 460.4C42.2115 460.4 8.11142 484 2.41142 495.3C-3.28858 506.6 2.41147 517 6.21147 516.1C10.0115 515.2 54.3114 496.3 54.3114 496.3L42.2115 460.4Z" fill="#E2DFE6"/>
                            <path d="M594.611 460.4C594.611 460.4 628.711 484 634.411 495.3C640.111 506.6 634.411 517 630.611 516.1C626.811 515.2 582.511 496.3 582.511 496.3L594.611 460.4Z" fill="#E2DFE6"/>
                            </svg>
                        <div class="selector hatchback" data-selector="1">
                            <button class="btn">1</button>
                            <h5>Guardafando<br>delandetero</h5>
                        </div>
                        <div class="selector hatchback" data-selector="2">
                            <button class="btn">2</button>
                            <h5>Puerta<br>delandetera</h5>
                        </div>
                        <div class="selector hatchback" data-selector="3">
                            <button class="btn">3</button>
                            <h5>Puerta<br>trasera</h5>
                        </div>
                        <div class="selector hatchback" data-selector="4">
                            <button class="btn">4</button>
                            <h5>Guardafando<br>trasero</h5>
                        </div>
                        <div class="selector hatchback" data-selector="5">
                            <button class="btn">5</button>
                            <h5>Parachoque<br>trasero</h5>
                        </div>
                        <div class="selector hatchback" data-selector="6">
                            <button class="btn">6</button>
                            <h5>Guardafando<br>trasero</h5>
                        </div>
                        <div class="selector hatchback" data-selector="7">
                            <button class="btn">7</button>
                            <h5>Puerta<br>trasera</h5>
                        </div>
                        <div class="selector hatchback" data-selector="8">
                            <button class="btn">8</button>
                            <h5>Puerta<br>delandetera</h5>
                        </div>
                        <div class="selector active hatchback" data-selector="9">
                            <button class="btn">9</button>
                            <h5>Guardafando<br>delandetero</h5>
                        </div>
                        <div class="selector hatchback" data-selector="10">
                            <button class="btn">10</button>
                            <h5>Parachoque<br>delatero</h5>
                        </div>
                        <div class="selector active hatchback" data-selector="11">
                            <button class="btn">11</button>
                            <h5>Capot</h5>
                        </div>
                        <div class="selector hatchback" data-selector="12">
                            <button class="btn">12</button>
                            <h5>Techo</h5>
                        </div>
                        <div class="selector hatchback" data-selector="13">
                            <button class="btn">13</button>
                            <h5>Maletera</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="flex-row align-center justify-center">
            <h3 class="h3">Síguenos:</h3>
            <a class="social-redes"><img alt="facebook" src="../assets/images/facebook.png"/></a>
            <a class="social-redes"><img alt="instagram" src="../assets/images/instagram.png"/></a>
        </div>
        <div class="flex-row sm-text-center">
            <div class="sm-100 grow-1"> Copyright © Grupo Pana.<span class="sm-block">Todos los derechos reservados.</span></div>
            <div class="sm-100">Términos y condiciones</div>
        </div>
    </footer>
</body>
</html>