html {
    box-sizing: border-box;
    background-color: #F7F7F7;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.content-gif{
    text-align: center;
}

.header {
    text-align: center;
}

h1, .h1 {
    color: #9E9D9D;
    text-align: center;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h1:after, .h1:after {
    content: url("../images/adorment.png");
    line-height: 8px;
    display: block;
}

h2, .h2 {
    font-weight: 500;
    text-align: center;
    color: #9E9D9D;
}

h4, .h4 {
    font-size: 15px;
    font-weight: 400;
    color: #6D6D6D;
}

.menu h2, .menu .h2 {
    color: #585858;
}

.menu h4, .menu .h4 {
    padding: 8px 0;
}

h5, .h5 {
    font-size: 14px;
}

.label {
    vertical-align: middle;
    font-size: 12px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
.container {
    padding: 20px;
}

.container-fluid {
    padding: 20px 8px 0;
    max-width: 1400px;
    margin: 0 auto;
}

footer, .footer {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.menu {
    color: #585858;
}

.flex-row, .menu-header {
    display: flex;
    flex-wrap: wrap;
}


.card {
    background-color: #F7F7F7;
    height: 100%;
    box-shadow: 0px 19px 54px rgba(0, 0, 0, 0.06);
}

.card.active {
    background-color: #DFDFDF;
}

.card h2, .card .h2 {
    color: #AA221D;
    font-weight: 700;
}

.highlight, .btn {
    border-radius: 999px;
    display: inline-block;
    color: #FFFFFF;
}

.highlight {
    padding: 3px 14px 5px;
    text-align: center;
    background-color: #AA221D;
}

.highlight, footer, .footer {
    font-size: 14px;
    font-weight: 300;
}

footer, .footer {
    color: #9E9D9D;
}

.card .highlight {
    background-color: #9E9D9D;
}

.menu-header {
    margin-top: 25px;
    background: #FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.menu-body {
    position: relative;
    padding: 14px;
    background-color: #FFFFFF;
}

.menu-body:before {
    content: '';
    margin: auto;
    height: 1px;
    background-color: #E7E7E7;
    position: absolute;
}

/*Botones btn_calcular_precio, step.active,  car-selector, .car-selector.active*/

.social-redes {
    transition: transform 5ms;
}


.social-redes:hover {
    transform:scale(0.9);
}


.btn_calcular_precio_p1{
    transition: background 0.5s;
    margin-top: 5px;
}

.btn_calcular_precio_p1:hover{
    background:#e3192d;
}

.btn_calcular_precio{
    transition: background 0.5s;
}

.btn_calcular_precio:hover{
    background:#e3192d;
}

.btn.btn_checked{
    background: #AA221D !important;
    transition: transform 5ms !important;
}

.btn.btn_checked:hover{
    background: #e3192d !important;
    border:none !important;
    transform:scale(0.9) !important;
}

.btn.btn_checked svg#Capa_1{
    animation: checked 1s ease 0s 1 normal both;
}

@keyframes checked{
    from{
       fill:#FFF;
       transform:scale(0.7);
       margin-top: 2px;
    }
    to{
       fill:#FFF;
       transform:scale(0.7);
    }
}

svg#Capa_1{    /* <- Checked img */
    padding-top: 8px;
    transition: all 5ms ease-in .3s;
    transform:scale(0.6);
    fill:#FFF;
}

.step {
    transform: translateY(-25px);
    font-size: 14px;
    text-align: center;
    width: 84px;
}

.btn {
    display: block;
    border-radius: 999px;
    padding: 10px 24px;
    border: none;
    outline: 0;
    box-shadow: none;
    background-color: #AA221D;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.step .btn {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #BBBBBB;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    display: block;
    margin-bottom: 5px;
    padding: 0;
} 

.step > a .btn, .step > .btn{
    font-size: 27px;
}

.step > a .btn{
    transition: background-color 1ms, color  .3s, border .2s;
}

.step > a .btn:hover{
    background-color:#FFF;
    color:#BBBBBB;
    border:3px solid  #BBBBBB;
}

.step > a .btn2:hover, .step > a .btn3:hover {
    background-color: #AA221D;
    color:#FFF;
    border:3px solid #AA221D;
}

.btn:disabled {
    background-color: #C7C7C7;
}

.step.active .btn, .car-selector .selector.active .btn {
    background-color: #AA221D;
    
}

.step.active > .btn, .step.active > a .btn{
    transition: background .3s ease-in-out .3s, color .4s ease-in-out .3s, border .5s ease-in-out .3s;
}

.step.active .btn, .car-selector .selector.active .btn:hover {
    background-color: #AA221D;
    color:#FFF;
    border:3px solid #AA221D;
}

.car-selector .btn {
    width: 25px;
    height: 25px;
    padding: 0;
    color: #585858;
    background-color: #DBDBDB;
    font-size: 12px;
    transition: background-color 1ms, color  .3s, border .2s;
}

.car-selector .btn:hover{
    background-color:#FFF;
    color:#BBBBBB;
    border:3px solid  #BBBBBB;
}

.car-selector .selector.active .btn {
    color: #FFFFFF;
    box-shadow: 0px 6px 24px rgba(89, 89, 89, 0.25);
    transition: background 3ms;
}

.car-selector .selector.active .btn {
    background:#e3192d;
}

.car-selector .selector.active h5 {
    color: #AA221D;
}

/*---------------------------------------------*/

.car-selector {
    position: relative;
    top:-30%;
    padding: 60px;
}

.car-selector-wrapper {
    /*padding: 0 140px;*/
    position: relative;
}

.car-selector-wrapper h2 {
    color: #585858;
    font-weight: 700;
    font-size: 22px;
    z-index: 30;
}

.car-selector-wrapper h2:last-child {
    font-weight: 400;
}


.car-selector-wrapper:before {
    content: "";
    background: rgb(236, 231, 231);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    right: 50%;
    border-radius: 30px;
}


.selector {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector h5 {
    position: absolute;
    display: block;
    font-weight: 500;
    color: #585858;
}


.piloto-copiloto {
    flex-wrap: nowrap;
}


.selector[data-selector="1"] h5,
.selector[data-selector="2"] h5,
.selector[data-selector="3"] h5,
.selector[data-selector="4"] h5 {
    left: 41px;
}

.selector[data-selector="5"] h5 {
    top: 30px;
    text-align: center;
}

.selector[data-selector="6"] h5,
.selector[data-selector="7"] h5,
.selector[data-selector="8"] h5,
.selector[data-selector="9"] h5 {
    right: 48px;
    text-align: right;
}

.selector[data-selector="10"] h5 {
    bottom: 48px;
    text-align: center;
}

.selector[data-selector="11"] h5,
.selector[data-selector="12"] h5,
.selector[data-selector="13"] h5 {
    bottom: 27px;
    
}

.selector[data-selector="1"],
.selector[data-selector="9"] {
    top: 6%;
}


.selector[data-selector="9"] {
    left: 10%;
}


.selector[data-selector="1"],
.selector[data-selector="2"],
.selector[data-selector="3"],
.selector[data-selector="4"] {
    right: 10%;
}

.selector[data-selector="6"],
.selector[data-selector="7"],
.selector[data-selector="8"] {
    left: 10%;
}

.selector[data-selector="2"],
.selector[data-selector="8"]  {
    top: 38%;
}

.selector[data-selector="3"],
.selector[data-selector="7"]  {
    bottom: 39%;
}

.selector[data-selector="4"],
.selector[data-selector="6"]  {
    bottom: 24%;
}

.selector[data-selector="5"],
.selector[data-selector="10"],
.selector[data-selector="11"],
.selector[data-selector="12"],
.selector[data-selector="13"]  {
    right: 0;
    left: 0;
    width: auto
}

.selector[data-selector="5"] {
    bottom: 0;  
}

.selector[data-selector="10"] {
    top: 0;  
}

.selector[data-selector="11"] {
    top: 15%;  
}

.selector[data-selector="12"] {
    top: 50%;  
}

.selector[data-selector="13"] {
    bottom: 15%;  
}



/*--Modificaciï¿½n y animaciones de modelos--*/

/*Modelo Pickup*/

.selector.pickup[data-selector="10"] {
    top: -8%;
    left:0%;
}

.selector.pickup[data-selector="11"] {
    top: 4%;
    left: 15%;
}

.selector.pickup[data-selector="2"],
.selector.pickup[data-selector="8"] {
    top: 19%;
}

.selector.pickup[data-selector="3"],
.selector.pickup[data-selector="7"] {
    bottom: 61%;
}

.selector.pickup[data-selector="12"] {
    top: 30%;
    left: 15%;
}

.selector.pickup[data-selector="4"], 
.selector.pickup[data-selector="6"] {
    bottom: 23%;
}

.selector.pickup[data-selector="4"]{
    right:10%;
}


.selector.pickup[data-selector="13"] {
    bottom: 41%;
    left: 15%;
}

.selector.pickup[data-selector="5"] {
    bottom: 24%;
}

.car-selector .selector.pickup[data-selector="1"], 
.car-selector .selector.pickup[data-selector="9"] {
    top: -4%;
}


/*----------------------*/

/*Modelo suv*/

.selector.suv[data-selector="10"] {
    top: -5%;
}

.selector.suv[data-selector="11"] {
    top: 4%;
    left: 14%;
}

.selector.suv[data-selector="10"] {
    top: -10%;
}

.selector.suv[data-selector="12"] {
    top: 37%;
    left: 14%;
}

.selector.suv[data-selector="13"] {
    bottom: 45%;
    left: 14%;
}

.selector.suv[data-selector="3"], .selector.suv[data-selector="7"] {
    bottom: 58%;
}

.selector.suv[data-selector="4"], .selector.suv[data-selector="6"] {
    bottom: 31%;
}

.selector.suv[data-selector="4"]{
    right: 10%;
}

.selector.suv[data-selector="6"] {
    left:10%;
}

.selector.suv[data-selector="2"], .selector.suv[data-selector="8"] {
    top: 22%;
}

.selector.suv[data-selector="1"],
.selector.suv[data-selector="9"] {
    top: -6%;
}

.selector.suv[data-selector="5"] {
    bottom: 27%;
}

/*---------------------------------------*/

/*Modelo Sedan*/

.selector.sedan[data-selector="10"] {
    top: -10%;
}


.selector.sedan[data-selector="1"],
.selector.sedan[data-selector="9"] {
    top: -3%;
}


.selector.sedan[data-selector="13"] {
    bottom: 35%;
    left: 23%
}

.selector.sedan[data-selector="5"] {
    bottom: 22%;
}


.car-selector .selector.sedan[data-selector="4"], .car-selector .selector.sedan[data-selector="6"] {
    bottom: 29%;
}


.car-selector .selector.sedan[data-selector="4"]{
    right: 10%;
}


.car-selector .selector.sedan[data-selector="6"]{
    left: 10%;
}


.selector.sedan[data-selector="3"], .selector.sedan[data-selector="7"] {
    bottom: 57%;
}


.car-selector .selector.sedan[data-selector="2"], .car-selector .selector.sedan[data-selector="8"] {
    top: 24%;
}


.selector.sedan[data-selector="11"] {
    top: 5%;
    left: 15%;
}


.selector.sedan[data-selector="12"] {
    top: 32%;
    left: 15%;
}

/*---------------*/

.selector a{
    text-decoration: none;
}

/*Modelo hatchback*/

.selector.hatchback[data-selector="10"] {
    top: -9%;
}

.selector.hatchback[data-selector="1"],
.selector.hatchback[data-selector="9"] {
    top: -5%;
}

.selector.hatchback[data-selector="12"] {
    top: 28%;
    left: 15%;
}

.selector.hatchback[data-selector="13"] {
    bottom: 40%;
    left: 15%;
}

.selector.hatchback[data-selector="5"] {
    bottom: 25%;
}

.selector.hatchback[data-selector="11"] {
    top: 7%;
    left: 15%;
}

.selector.hatchback[data-selector="2"],
.selector[data-selector="8"] {
    top: 26%;
}

.selector.hatchback[data-selector="3"],
.selector.hatchback[data-selector="7"] {
    bottom: 55%;
}

/*---------------*/

svg{
    max-width: 100%;
    height: auto;
}


.preview-pickup,
.preview-sedan,
.preview-hatchback,
.preview-suv{
    position: relative;
    animation-name: estacionado;
    animation-duration: 3s;
    -moz-animation-name: estacionado;
    -moz-animation-duration: 3s;
    -webkit-animation-name: estacionado;
    -webkit-animation-duration: 3s;
}


@keyframes estacionado{
    from{
        top:330px;
    }

    to{
        top:0px;
    }
}


svg .luces{
    fill:#669FCC;
    animation: parpadeo .7s linear .9s 3 normal forwards, luces 4s cubic-bezier(.53,.13,.9,1.47) 2.5s 1 normal forwards;
    -webkit-animation:  parpadeo .7s linear .9s 3, luces 4s cubic-bezier(.53,.13,.9,1.47) 2.5s 1 normal forwards;
    -moz-animation:  parpadeo .7s linear .9s 3, luces 4s cubic-bezier(.53,.13,.9,1.47) 2.5s 1 normal forwards;
}


@keyframes parpadeo {  
     0% { fill:rgb(248, 255, 82);
          opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { fill:rgb(248, 255, 82);
          opacity: 1.0; }
 }

 @-webkit-keyframes parpadeo {  
    0% { fill:rgb(248, 255, 82);
         opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { fill:rgb(248, 255, 82);
         opacity: 1.0; }
}


@-moz-keyframes parpadeo {  
    0% { fill:rgb(248, 255, 82);
         opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { fill:rgb(248, 255, 82);
         opacity: 1.0; }
}


@-webkit-keyframes luces{
    from{
        fill:rgb(248, 255, 82);
    }

    to{
        fill:#929292;
    }
}


@-moz-keyframes luces{
    from{
        fill:rgb(249, 255, 77);
    }

    to{
        fill:#929292;
    }
}


@keyframes luces{
    from{
        fill:rgb(249, 255, 77);
    }

    to{
        fill:#929292;
    }
}


.car-selector .selector{
    animation: aparece 1.5s ease-in-out 3s 1 normal both;
    -webkit-animation: aparece 1.5s ease-in-out 3s 1 normal both;
    -moz-animation: aparece 1.5s ease-in-out 3s 1 normal both;
}


@-moz-keyframes aparece{
    0%{
        opacity: 0;  
    }
    50%{
        opacity:.5;
    }
    100%{
        opacity: 1;
    }
}


@-webkit-keyframes aparece{
    0%{
        opacity: 0;  
      }
      50%{
          opacity:.5;
      }
      100%{
          opacity: 1;
      }
}


@keyframes aparece{
    0%{
        opacity: 0;  
      }
      50%{
          opacity:.5;
      }
      100%{
          opacity: 1;
      }
}


.car-selector .selector .btn{
    animation: aparecenPartesBotones 1s ease-in-out 3.5s 1 normal both;
    -webkit-animation: aparecenPartesBotones 1s ease-in-out 3.5s 1 normal both;
    -moz-animation: aparecenPartesBotones 1s ease-in-out 3.5s 1 normal both;
}


@keyframes aparecenPartesBotones{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}


@-webkit-keyframes aparecenPartesBotones{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}


@-moz-keyframes aparecenPartesBotones{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}


.nodecoration, .step a{
    text-decoration:none;
}


/*-------------------------------*/

.step.active,  .step.active .btn {
    font-weight: 700;
}


h3, .h3 {
    font-size: 20px;
    font-weight: 500;
}


.loader-wrapper {
    display: none;
    background: linear-gradient(rgb(67 15 13), rgb(170 34 29 / 79%));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
}


.loader {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}


.loader .title {
    font-weight: 200;
    text-align:center;
    font-size: 25px;
}


.loader .subtitle {
    font-weight: 600;
    text-align: center;
    font-size: 39px;
}


.loader > * {
    max-width: 700px;
}


.loader img {
    width: 100%;
    max-width: 340px;
}


.text-center{
    margin: 0 auto;
}


.overlay {
    overflow-y: hidden;
    width: 100%;
}


.overlay .loader-wrapper {
    display: flex;
    width: 100%;
    margin: auto;
    height: 100%;
    max-width: 100%;
    flex-direction: column;
}


:focus {
    outline: 0;
}


.menu .flex-row {
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
}


.menu .flex-row > * {
    width: 50%;
    padding: 8px;
}
.menu .flex-row.w-auto > * {
    width: auto;
    margin: 0 auto;
}


.menu .flex-row > div {
    display: flex;
}


[type=radio] {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 9999px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 2px;
}


[type=radio]:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: #FFFFFF;
    top: -1px;
    right: 0;
    bottom: 0;
    left: -1px;
    border: 3px solid #C4C4C4;
    border-radius: 50%;
}


[type=radio]:checked:before {
    transition: all .2s ease-in-out;
    background-color: #AA221D;
    border-color: #AA221D;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
    background-size: 100%;
}


.input-group {
    display: flex;
    align-items: center;
    width: 195px;
    padding: 10px;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    transition: border 9ms ease 5ms;
}


.input-group:hover{
    border: 1px solid #000;
}


.input-group > .label {
    padding-right: 5px;
    color: #9E9D9D;
}


.input-group > input {
    border: none;
    outline: 0;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    color: #585858;
}


.disclaimer {
    font-size: 15px;
    font-weight: 300;
    color: #9E9D9D;
    padding: 15px;
}


@media (max-width:420px){

    .menu .flex-row > * {
        width: 100%;
    }

    /*Loader*/

    .loader-wrapper{
        padding: 20px;
    }
       

    .loader > * {
        max-width: 700px;
        height: 65vh;
    }
    

    .loader img {
        margin-top: 65px;
        width: 100%;
        margin-left: 0;
    }


    /*-----------------*/

    .pintado_general .justify-between{
        margin-left: 45px;
    }


    .pintado_general .justify-between input{
        margin-right: 57%;
    }


    .selector.hatchback[data-selector="9"] {
        left: 10%;
    }


    .selector.sedan[data-selector="11"] {
        top: 2%;
        left: 10%;
    }


    .selector.sedan[data-selector="5"] {
        bottom: 31%;
        left: -2%;
    }


    .selector.sedan[data-selector="12"] {
        top: 28%;
        left: 9%;
    }


    h2, .h2 {
        padding: 10px 18px !important;
    }

    .disclaimer{
        padding: 15px 15px 51px 15px;
    }

    .selector_flex{
        order:1;
    }

    .car-selector-wrapper {
        padding: 5px;
    }

    .selector.pickup[data-selector="10"] {
        top: 10%;
        left: 0%;
    }


    .selector.pickup[data-selector="13"] {
    bottom: 27%;
    }

    .selector.pickup[data-selector="12"] {
        top: 44%;
    }

    .selector.pickup[data-selector="11"] {
        top: 22%;
    }


    .selector.pickup[data-selector="13"],
    .selector.pickup[data-selector="12"], 
    .selector.pickup[data-selector="11"] {
        left: 0;
    }


    .step .btn {
        width: 40px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        background-color: #BBBBBB;
        color: #FFFFFF;
        border: none;
        border-radius: 50px;
        display: block;
        margin-bottom: 5px;
        padding: 0;
    }

    .justify-end label.text-bold {
        font-weight: 700;
        font-size: 3.2vw;
    }


    footer, .footer {
        color: #9E9D9D;
    }


    .selector.pickup[data-selector="5"] {
        bottom: 11%;
        left: 0;
    }

    /*Pickup orden*/

    .selector.pickup[data-selector="1"],
    .selector.pickup[data-selector="2"], 
    .selector.pickup[data-selector="3"],
    .selector.pickup[data-selector="4"] {
        right:19%;
    }


    .selector.pickup[data-selector="9"],
    .selector.pickup[data-selector="8"],
    .selector.pickup[data-selector="7"],
    .selector.pickup[data-selector="6"] {
        left:19%;
    }


    .selector.pickup[data-selector="3"],
    .selector.pickup[data-selector="7"] {
        bottom: 44%;
    }

    .selector.pickup[data-selector="2"],
    .selector.pickup[data-selector="8"] {
        top: 36%;
    }


    .car-selector .selector.pickup[data-selector="1"],
    .car-selector .selector.pickup[data-selector="9"] {
        top: 10%;
    }

    .selector.pickup[data-selector="4"],
    .selector.pickup[data-selector="6"] {
        bottom: 11%;
    }

    /*---------------------------------*/

      /*suv orden*/

      .selector.suv[data-selector="13"],
      .selector.suv[data-selector="12"],
      .selector.suv[data-selector="11"] {
          left: 0;
      }
  
      .selector.suv[data-selector="13"] {
          bottom: 28%;
      }
  
  
      .selector.suv[data-selector="12"] {
          top: 47%;
      }
  
  
      .selector.suv[data-selector="11"] {
          top: 23%;
      }
  

      .selector.suv[data-selector="10"],
      .selector.suv[data-selector="5"] {
        right: 0;
      }

  
      .selector.suv[data-selector="5"] {
          bottom: 12%;
      }
  
  
      .selector.suv[data-selector="10"] {
          top: 10%;
      }


    .selector.suv[data-selector="1"],
    .selector.suv[data-selector="2"],
    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="4"] {
        right: 18%;
    }


    .selector.suv[data-selector="9"],
    .selector.suv[data-selector="8"],
    .selector.suv[data-selector="7"],
    .selector.suv[data-selector="6"] {
        left: 18%;
    }
    

    .selector.suv[data-selector="1"],
    .selector.suv[data-selector="9"] {
        top: 10%;
    }


    .selector.suv[data-selector="4"],
    .selector.suv[data-selector="6"] {
        bottom: 12%;
    }

    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="7"] {
        bottom: 39%;
    }


    .selector.suv[data-selector="2"],
    .selector.suv[data-selector="8"] {
        top: 42%;
    }

  
    /*--------------------------*/


    /*Selector sedan orden*/

    .selector.sedan[data-selector="13"],
    .selector.sedan[data-selector="12"],
    .selector.sedan[data-selector="11"] {
        left: 0;
    }

    .selector.sedan[data-selector="13"] {
        bottom: 16%;
    }


    .selector.sedan[data-selector="12"] {
        top: 49%;
    }


    .selector.sedan[data-selector="11"] {
        top: 24%;
    }


    .selector.sedan[data-selector="10"],
    .selector.sedan[data-selector="5"] {
        left:0;
    }


    .selector.sedan[data-selector="10"] {
        top: 9%;
    }

    .selector.sedan[data-selector="5"] {
        bottom: 9%;
    }


    .car-selector .selector.sedan[data-selector="4"],
    .car-selector .selector.sedan[data-selector="6"] {
        bottom: 9%;
    }


    .selector.sedan[data-selector="1"],
    .selector.sedan[data-selector="9"] {
       top: 9%;
    }


    .selector.sedan[data-selector="3"],
    .selector.sedan[data-selector="7"] {
        bottom: 38%;
    }


    .selector.sedan[data-selector="9"],
    .selector.sedan[data-selector="8"],
    .selector.sedan[data-selector="7"],
    .selector.sedan[data-selector="6"] {
        left: 17% !important;
    } 

    .selector.sedan[data-selector="1"],
    .selector.sedan[data-selector="2"],
    .selector.sedan[data-selector="3"],
    .selector.sedan[data-selector="4"] {
        right: 17% !important;
    }


    .car-selector .selector.sedan[data-selector="2"],
    .car-selector .selector.sedan[data-selector="8"] {
        top: 41%;
    }

    /*--------------------*/

    /*Selector hatchback orden*/

    .selector.hatchback[data-selector="9"],
    .selector.hatchback[data-selector="8"],
    .selector.hatchback[data-selector="7"],
    .selector.hatchback[data-selector="6"] {
        left:18%;
    }


    .selector.hatchback[data-selector="1"],
    .selector.hatchback[data-selector="2"],
    .selector.hatchback[data-selector="3"],
    .selector.hatchback[data-selector="4"] {
        right:18%;
    }


    .selector.hatchback[data-selector="13"],
    .selector.hatchback[data-selector="12"],
    .selector.hatchback[data-selector="11"] {
        left: 0 !important;
    }

    .selector.hatchback[data-selector="13"] {
        bottom: 22%;
        left: 20%;
    }


    .selector.hatchback[data-selector="12"] {
        top: 50%;
    }


    .selector.hatchback[data-selector="11"] {
        top: 23%;
    }


    .selector.hatchback[data-selector="10"],
    .selector.hatchback[data-selector="5"] {
        left: 0;
    }


    .selector.hatchback[data-selector="5"] {
        bottom: 9%;
    }

    .selector.hatchback[data-selector="10"] {
        top: 9%;
    }


    .selector.hatchback[data-selector="4"],
    .selector.hatchback[data-selector="6"] {
        bottom: 9%;
    }


    .selector.hatchback[data-selector="3"],
    .selector.hatchback[data-selector="7"] {
        bottom: 38%;
    }


    .selector.hatchback[data-selector="2"],
    .selector[data-selector="8"] {
        top: 42%;
    }


    .selector.hatchback[data-selector="1"],
    .selector.hatchback[data-selector="9"] {
        top: 9%;
    }


    /*--------------------*/
  

    /*selectores generales*/

    .selector[data-selector="1"] h5,
    .selector[data-selector="2"] h5,
    .selector[data-selector="3"] h5, 
    .selector[data-selector="4"] h5 {
        left: 27px;
    }


    .selector[data-selector="10"] h5,
    .selector[data-selector="11"] h5,
    .selector[data-selector="12"] h5, 
    .selector[data-selector="13"] h5 {
        bottom: 10px;
    }


    .selector[data-selector="12"] h5 {
        bottom: 76%;
    }


    .selector[data-selector="5"] h5 {
        top: 10px;
    }


    .selector[data-selector="6"] h5,
    .selector[data-selector="7"] h5,
    .selector[data-selector="8"] h5,
    .selector[data-selector="9"] h5 {
        right: 27px;
    }

    /*----------------------------*/

    .car-selector .selector h5 {
        font-size: 2vw;
    }

    .disclaimer{
        padding-bottom: 10px;
    }


    .car-selector-wrapper h2 {
        margin-bottom: 0;
        font-size: 4.5vw;
    }


    .car-selector .selector h5 {
        display: block;
        font-size: 2.9vw;
    }


    .car-selector .btn {
        width: 20px;
        height: 20px;
        padding: 0;
        color: #585858;
        background-color: #DBDBDB;
        font-size: 10px;
    }


    .sm-100 {
        width: 100%;
    }


    .car-selector {
        margin: 0 auto;
        max-width: 250px;
        min-width: 240px;
    }



    .menu-header {
        justify-content: center;
        padding: 10px 0px 0px 0px;
    }

    h2, .h2 {
        padding: 30px 18px;
        font-size: 20px;
    }


    .flex-row > * {
        padding: 3px;
        margin: 10px auto;
    }

    .card {
        padding: 16px;
    }

    body { 
        padding-bottom: 204px;
    }

    .highlight {
        font-size: 11px;
        font-weight: 600;
        margin-top: 10px;
    }

    .step > a .btn, .step > .btn {
        font-size: 21px;
    }


    svg#Capa_1 {
        width: 28px;
    }


    .car-selector-wrapper {
        padding: 5px;
    }


    .header img {
        max-width: 168px;
    }

    img {
        margin-left: 8px;
    }

    .input-group {
        margin: 10px 0 18px 0px;
    }

    .menu h2, .menu .h2 {
        color: #585858;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 22px;
    }

    h5, .h5 {
        font-size: 14px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu h4, .menu .h4 {
        padding: 12px 0 17px 0;
    }

}


@media (max-width: 767px) and (min-width:421px) {

    .selector_flex{
        order:1;
    }

    .menu .flex-row > * {
        width: 100%;
    }

    .seletor_flex{
        order:1 !important;
    }

    .selector.suv[data-selector="5"] {
        bottom: 24%;
        left: 2%;
    }


    .selector.hatchback[data-selector="10"] {
        top: -9%;
        left: 3%;
    }

    
    .car-selector-wrapper {
        padding: 5px;
    }

    footer, .footer {
        color: #9E9D9D;
    }


    /*Car-selector orden*/

    .car-selector .selector[data-selector="1"] h5,
    .car-selector .selector[data-selector="2"] h5,
    .car-selector .selector[data-selector="3"] h5,
    .car-selector .selector[data-selector="4"] h5 {
        left: 28px;
    }
 
    
    .car-selector .selector[data-selector="6"] h5,
    .car-selector .selector[data-selector="7"] h5,
    .car-selector .selector[data-selector="8"] h5,
    .car-selector .selector[data-selector="9"] h5 {
        right: 28px;
    }


    .car-selector .selector[data-selector="1"] h5,
    .car-selector .selector[data-selector="2"] h5,
    .car-selector .selector[data-selector="3"] h5,
    .car-selector .selector[data-selector="4"] h5,
    .car-selector .selector[data-selector="5"] h5,
    .car-selector .selector[data-selector="6"] h5,
    .car-selector .selector[data-selector="7"] h5,
    .car-selector .selector[data-selector="8"] h5,
    .car-selector .selector[data-selector="9"] h5,
    .car-selector .selector[data-selector="10"] h5,
    .car-selector .selector[data-selector="11"] h5,
    .car-selector .selector[data-selector="12"] h5,
    .car-selector .selector[data-selector="13"] h5 {
        font-size: 2.1vw;
    }


    .selector.suv[data-selector="1"],
    .selector.suv[data-selector="9"] {
        top: 7%;
    }

    /*------------------------------------------*/


    /*Selector pickup orden*/

    .selector.pickup[data-selector="12"] {
        top: 44%;
    }


    .selector.pickup[data-selector="11"] {
        top: 21%;
    }

    .selector.pickup[data-selector="13"] {
        bottom: 23%;
    }

   
    .selector.pickup[data-selector="13"],
    .selector.pickup[data-selector="12"],
    .selector.pickup[data-selector="11"],
    .selector.pickup[data-selector="10"],
    .selector.pickup[data-selector="5"] {
        left:0;
    }


    .selector.pickup[data-selector="10"] {
        top: 5%;
    }


    .selector.pickup[data-selector="5"] {
        bottom: 5%;
    }


    .selector.pickup[data-selector="3"],
    .selector.pickup[data-selector="7"] {
        bottom: 44%;
    }


    .selector.pickup[data-selector="2"],
    .selector.pickup[data-selector="8"] {
        top: 37%;
    }


    .selector.pickup[data-selector="4"],
    .selector.pickup[data-selector="6"] {
        bottom: 5%;
    }


    .car-selector .selector.pickup[data-selector="1"],
    .car-selector .selector.pickup[data-selector="9"] {
        top: 5%;
    }

  
    .selector.pickup[data-selector="6"],
    .selector.pickup[data-selector="7"],
    .selector.pickup[data-selector="8"],
    .selector.pickup[data-selector="9"] {
        left: 14%;
    }

    /*---------------------*/


    /*header-menu*/
    
    .menu-header {
       margin-top: 56px;
    }


    /*----------------------*/

    /*suv orden*/

    .selector.suv[data-selector="13"],
    .selector.suv[data-selector="12"],
    .selector.suv[data-selector="11"] {
        left:22%;
    }

    .selector.suv[data-selector="13"] {
        bottom: 27%;
    }


    .selector.suv[data-selector="12"] {
        top: 40%;
    }


    .selector.suv[data-selector="11"] {
        top: 23%;
    }


    .selector.suv[data-selector="10"] {
        top: 7%;
    }



   .selector.suv[data-selector="5"] {
        bottom: 6%;
    }


    .selector.suv[data-selector="4"],
    .selector.suv[data-selector="6"] {
        bottom: 6%;
    }


    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="7"] {
        bottom: 38%;
    }


    .selector.suv[data-selector="2"],
    .selector.suv[data-selector="8"] {
        top: 41%;
    }

    .selector.suv[data-selector="13"],
    .selector.suv[data-selector="12"],
    .selector.suv[data-selector="11"] {
        left: 0;
    }
     
        


    .selector.suv[data-selector="13"] {
        bottom: 26%;
    }


    .selector.suv[data-selector="12"] {
        top: 47%;
    }

    /*-------------------------*/

    /*Selector sedan orden*/

    .selector.sedan[data-selector="13"],
    .selector.sedan[data-selector="12"],
    .selector.sedan[data-selector="11"] {
        left: 0;
    }


    .selector.sedan[data-selector="13"] {
        bottom: 13%;
    }

    .selector.sedan[data-selector="12"] {
        top: 50%;
    }


    .selector.sedan[data-selector="11"] {
        top: 21%;
    }


    .selector.sedan[data-selector="10"] {
        top: 6%;
    }


    .selector.sedan[data-selector="5"] {
        bottom: 6%;
    }


    .car-selector .selector.sedan[data-selector="4"],
    .car-selector .selector.sedan[data-selector="6"] {
        bottom: 6%;
    }


    .selector.sedan[data-selector="3"],
    .selector.sedan[data-selector="7"] {
        bottom: 37%;
    }


    .car-selector .selector.sedan[data-selector="2"],
    .car-selector .selector.sedan[data-selector="8"] {
        top: 43%;
    }


    .selector.sedan[data-selector="1"],
    .selector.sedan[data-selector="9"] {
        top: 6%;
    }

    /*-------------------*/


    /*Selector hatchback orden*/

    .selector.hatchback[data-selector="1"],
    .selector.hatchback[data-selector="2"],
    .selector.hatchback[data-selector="3"],
    .selector.hatchback[data-selector="4"] {
        right: 13%;
    }


    .selector.hatchback[data-selector="9"],
    .selector.hatchback[data-selector="8"],
    .selector.hatchback[data-selector="7"],
    .selector.hatchback[data-selector="6"] {
        left: 13%;
    }


    .selector.hatchback[data-selector="13"],
    .selector.hatchback[data-selector="12"],
    .selector.hatchback[data-selector="11"] {
        left: 0;
    }
 
    
    .selector.hatchback[data-selector="13"] {
        bottom: 19%;
    }


    .selector.hatchback[data-selector="12"] {
        top: 50.5%;
    }


    .selector.hatchback[data-selector="11"] {
        top: 22%;
    }


    .selector.hatchback[data-selector="10"],
    .selector.hatchback[data-selector="5"] {
        left: 0;
    }


    .selector.hatchback[data-selector="10"] {
        top: 6%;
    }


    .selector.hatchback[data-selector="5"] {
        bottom: 6%;
    }


    .selector[data-selector="4"],
    .selector[data-selector="6"] {
        bottom: 6%;
    }


    .selector.hatchback[data-selector="3"],
    .selector.hatchback[data-selector="7"] {
        bottom: 37%;
    }


    .selector.hatchback[data-selector="2"],
    .selector.hatchback[data-selector="8"] {
        top: 43%;
    }


    .selector.hatchback[data-selector="1"],
    .selector.hatchback[data-selector="9"] {
        top: 6%;
    }

    /*----------------------------*/

    .selector.suv[data-selector="4"],
    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="2"],
    .selector.suv[data-selector="1"] {
        right:16%;
    }

    .selector.suv[data-selector="9"],
    .selector.suv[data-selector="8"],
    .selector.suv[data-selector="7"],
    .selector.suv[data-selector="6"]{
        left: 16%;
    }

    .car-selector-wrapper h2 {
        margin: 0 50px;
        font-size: 4.5vw;
    }

    .disclaimer{
        padding: 15px 15px 51px 15px;
    }
    
    .justify-end {
        justify-content: end !important;
        padding-right:20px;
    }

    body {
        padding-bottom: 161px;
    }

    .flex-row > * {
        padding: 15px;
    }

    .card {
        padding: 26px;
    }

    .md-50 {
        width: 50%;
    }

    .container {
        max-width: 750px;
    }


    .car-selector {
        margin-top: 50px;
        display: flex;
        justify-items: center;
        max-width: 244px;
        min-width: 268px;
        margin: 0 auto;
    }

    svg#Capa_1 {
        width: 28px;
    }

    .justify-between {
        justify-content: space-between;
        min-width: 248px;
    }

    .header img {
        max-width: 168px;
    }

    h1, .h1 {
        font-size: 30px;
        max-width: 224px;
        line-height: 44px;
    }

    h2, .h2, .step .btn {
        font-size: 20px;
    }

    .flex-row {
        margin-left: 7px;
        margin-right: -8px;
        padding-top: 8px;
        padding-bottom: 16px;
    }

    .flex-row > * {
        padding: 8px;
    }

    .sm-block {
        display: block;
    }
    
    .sm-text-center {
        text-align: center;
    }

    .card {
        padding: 16px;
    }

    .sm-100 {
        width: 100%;
    }

    body {
        padding-bottom: 204px;
    }

    header img {
        max-width: 168px;
    }

    img {
        margin-left: 8px;
    }

    .input-group {
        margin: 10px 0 10px 0px;
    }

    .menu h2, .menu .h2 {
        color: #585858;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 22px;
    }

    h5, .h5 {
        font-size: 14px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .menu h4, .menu .h4 {
        padding: 12px 0 11px 0;
        text-align: center;
    }


    .car-selector .selector[data-selector="10"] h5 {
        bottom: 18px;
    }


    .car-selector .selector[data-selector="5"] h5 {
        top: 17px;
    }


    .selector[data-selector="11"] h5,
    .selector[data-selector="12"] h5,
    .selector[data-selector="13"] h5 {
        bottom: 15px;
    }


     .selector.suv[data-selector="12"] h5 {
        bottom: 69%;
    }

}
 
  

@media (min-width:768px) and (max-width:991px) {


    /*car-selector orden*/
    
    .selector[data-selector="1"] h5,
    .selector[data-selector="2"] h5,
    .selector[data-selector="3"] h5,
    .selector[data-selector="4"] h5,
    .selector[data-selector="5"] h5,
    .selector[data-selector="6"] h5,
    .selector[data-selector="7"] h5,
    .selector[data-selector="8"] h5,
    .selector[data-selector="9"] h5,
    .selector[data-selector="10"] h5,
    .selector[data-selector="11"] h5,
    .selector[data-selector="12"] h5,
    .selector[data-selector="13"] h5 {
        font-size: 1.4vw;
    }


    .selector[data-selector="6"] h5,
    .selector[data-selector="7"] h5,
    .selector[data-selector="8"] h5,
    .selector[data-selector="9"] h5 {
        right: 27px;
    }


    .selector[data-selector="1"] h5,
    .selector[data-selector="2"] h5,
    .selector[data-selector="3"] h5,
    .selector[data-selector="4"] h5 {
        left: 27px;
    }


    .car-selector {
        margin: 0 auto;
        max-width: 300px;
        min-width: 250px;
    }


    .car-selector-wrapper h2 {
        margin: 4px 11px 0 20px;
    }

    /*----------------------------------------*/


    /*Selector pickup orden*/

    .selector.pickup[data-selector="13"],
    .selector.pickup[data-selector="12"],
    .selector.pickup[data-selector="11"] {
        left: 0;
    }  
    


    .selector.pickup[data-selector="12"] {
        top: 43%;
    }


    .selector.pickup[data-selector="11"] {
        top: 20%;
    }



    .selector.pickup[data-selector="13"] {
        bottom: 25%;
    }


    .selector.pickup[data-selector="10"],
    .selector.pickup[data-selector="5"] {
        left:0;
    }

    .selector.pickup[data-selector="10"] {
        top: 6%;
    }


    .selector.pickup[data-selector="5"] {
        bottom: 6%;
    }


    .selector.pickup[data-selector="4"],
    .selector.pickup[data-selector="6"] {
        bottom: 6%;
    }


    .selector.pickup[data-selector="3"],
    .selector.pickup[data-selector="7"] {
        bottom: 44%;
    }


    .car-selector .selector[data-selector="10"] h5 {
        bottom: 29px;
    }


    .selector.pickup[data-selector="2"],
    .selector.pickup[data-selector="8"] {
        top: 35%;
    }


    .car-selector .selector.pickup[data-selector="1"],
    .car-selector .selector.pickup[data-selector="9"] {
        top: 6%;
    }


    .selector.pickup[data-selector="1"],
    .selector.pickup[data-selector="2"],
    .selector.pickup[data-selector="3"],
    .selector.pickup[data-selector="4"] {
        right: 14%;
    }

    /*--------------------*/

   /*suv orden */

   .selector.suv[data-selector="9"],
    .selector.suv[data-selector="8"],
    .selector.suv[data-selector="7"],
    .selector.suv[data-selector="6"] {
        left:10%;
    }

    .selector.suv[data-selector="1"],
    .selector.suv[data-selector="2"],
    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="4"] {
        right:10%;
    }


   .selector.suv[data-selector="13"],
   .selector.suv[data-selector="12"],
   .selector.suv[data-selector="11"] {
       left: 0;
   }

   .selector.suv[data-selector="13"] {
       bottom: 27%;
   }


   .selector.suv[data-selector="11"] {
    top: 23%;
   }


   .selector.suv[data-selector="12"] {
    top: 47%;
    }


    .selector.suv[data-selector="10"] {
        top: 8%;
    }


    .selector.suv[data-selector="5"] {
        bottom: 10%;
    }


    .selector.suv[data-selector="4"],
    .selector.suv[data-selector="6"] {
        bottom: 10%;
    }


    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="7"] {
        bottom: 39%;
    }


    .selector.suv[data-selector="2"],
    .selector.suv[data-selector="8"] {
        top: 39%;
    }


    .selector.suv[data-selector="1"],
    .selector.suv[data-selector="9"] {
        top: 8%;
    }


    .selector.suv[data-selector="12"] h5{
        bottom: 36px;
    }

   /*-------------------*/


    .label {
        vertical-align: middle;
        font-size: 10px;
    }


    /*Selector sedan orden*/

    .selector.sedan[data-selector="13"],
    .selector.sedan[data-selector="12"],
    .selector.sedan[data-selector="11"] {
        left: 0;
    }
 
    .selector.sedan[data-selector="13"] {
        bottom: 14%;
    } 


    .selector.sedan[data-selector="12"] {
        top: 49%;
    }


    .selector.sedan[data-selector="11"] {
        top: 22%;
    }


    .selector.sedan[data-selector="5"] {
        bottom: 6%;
    }


    .selector.sedan[data-selector="10"] {
        top: 6%;
    }


    .car-selector .selector.sedan[data-selector="4"],
    .car-selector .selector.sedan[data-selector="6"] {
        bottom: 6%;
    }


    .selector.sedan[data-selector="3"],
    .selector.sedan[data-selector="7"] {
        bottom: 37%;
    }
    
    
    .car-selector .selector.sedan[data-selector="2"],
    .car-selector .selector.sedan[data-selector="8"] {
        top: 41%;
    }


    .selector.sedan[data-selector="1"],
    .selector.sedan[data-selector="9"] {
        top: 6%;
    }

    /*-----------------------*/

    /*Selector hatchback orden*/

    .selector.hatchback[data-selector="13"],
    .selector.hatchback[data-selector="12"],
    .selector.hatchback[data-selector="11"] {
        left: 0;
    }

    .selector.hatchback[data-selector="13"] {
        bottom: 21%;
    }


    .selector.hatchback[data-selector="12"] {
        top: 50%;
    }


    .selector.hatchback[data-selector="11"] {
        top: 23%;
    }


    .selector.hatchback[data-selector="10"],
    .selector.hatchback[data-selector="5"] {
        left: 0;
    }


    .selector.hatchback[data-selector="10"] {
        top: 6%;
    }


    .selector.hatchback[data-selector="5"] {
        bottom: 6%;
    }


    .selector.hatchback[data-selector="4"],
    .selector.hatchback[data-selector="6"] {
        bottom: 6%;
    }


    .selector.hatchback[data-selector="3"],
    .selector.hatchback[data-selector="7"] {
        bottom: 37%;
    }


    .selector.hatchback[data-selector="2"],
    .selector[data-selector="8"] {
        top: 42%;
    }


    .selector.hatchback[data-selector="1"],
    .selector.hatchback[data-selector="9"] {
        top: 6%;
    }

    /*----------------------*/
     

    .selector.hatchback[data-selector="9"] {
        left: 10%;
    }

    .flex-row > * {
        padding: 14px;
    }

    .container {
        max-width: 750px;
    }
    .container-fluid {
        padding: 20px 30px 0;
    }

    h1, .h1 {
        font-size: 36px;
        line-height: 52px;
    }

    h2, .h2, .loader, .step .btn {
        font-size: 24px;
    }

    .menu-header {
        margin-top: 29px;
    }

    .step {
        transform: translateY(-29px);
        width: 92px;
    }

    /*Botones step*/

    .step .btn {
        height: 48px;
        width: 48px;
    }


    .step > a .btn, .step > .btn {
        font-size: 24px;
    }

    /*----------------------*/

    .flex-row {
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .footer .flex-row {
        padding-bottom: 0;
    }

    .flex-row > * {
        padding: 15px 0;
 
    }

    .menu .flex-row > * {
        padding: 8px 15px;
    }

    .md-50 {
        width: 50%;
    }

    .card {
        padding: 26px;
    }

    .highlight, footer, .footer {
        font-size: 15px;
    }

    body {
        padding-bottom: 161px;
    }
    
    svg#Capa_1 {
        padding-top: 13px;
        width: 26px;
    }

   
  .car-selector-wrapper {
    padding: 0 60px;
   }

   .input-group {
    width: 185px;
   }


   .piloto-copiloto {
    padding-bottom: 2px;
   }

}


@media (min-width: 992px) and (max-width:1199px) {

/*Selector  pickup orden */

    .selector.pickup[data-selector="11"],
    .selector.pickup[data-selector="12"],
    .selector.pickup[data-selector="10"],
    .selector.pickup[data-selector="13"],
    .selector.pickup[data-selector="5"] {
        left: 0;
    }


    .selector.pickup[data-selector="11"] {
        top: 19%;
    }    


    .selector.pickup[data-selector="12"] {
        top: 44%;
    }


    .selector.pickup[data-selector="13"] {
        bottom: 24%;
    }


    .selector.pickup[data-selector="10"] {
        top: 5%;
    }


    .car-selector .selector[data-selector="10"] h5 {
        bottom: 27px;
    }


    .selector.pickup[data-selector="5"] {
        bottom: 7%;
    }

    .selector.pickup[data-selector="4"],
    .selector.pickup[data-selector="6"] {
        bottom: 7%;
    }


    .selector.pickup[data-selector="3"],
    .selector.pickup[data-selector="7"] {
        bottom: 45%;
    }


    .selector.pickup[data-selector="2"],
    .selector.pickup[data-selector="8"] {
        top: 37%;
    }


    .car-selector .selector.pickup[data-selector="1"],
    .car-selector .selector.pickup[data-selector="9"] {
        top: 5%;
    }

    /*--------------------------------*/

    /*Selector suv orden*/

    .selector.suv[data-selector="13"],
    .selector.suv[data-selector="12"],
    .selector.suv[data-selector="11"] {
        left: 0;
    }

   
    .selector.suv[data-selector="13"] {
        bottom: 26%;
    }


    .selector.suv[data-selector="12"] {
        bottom: 37%;
    }


    .selector.suv[data-selector="11"] {
        top: 21%;
    }


    .selector.suv[data-selector="10"] {
        top: 4%;
    }


    .selector.suv[data-selector="5"] {
        bottom: 4%;
    }


    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="7"] {
        bottom: 39%;
    }


    .selector.suv[data-selector="4"],
    .selector.suv[data-selector="6"] {
        bottom: 4%;
    }


    .selector.suv[data-selector="2"],
    .selector.suv[data-selector="8"] {
        top: 40%;
    }


    .selector.suv[data-selector="1"],
    .selector.suv[data-selector="9"] {
        top: 4%;
    }

    /*---------------------*/

    /*Selector sedan*/

    .selector.sedan[data-selector="13"],
    .selector.sedan[data-selector="12"],
    .selector.sedan[data-selector="11"] {
        left: 0;
    }
    

    .selector.sedan[data-selector="13"] {
        bottom: 13%;
    }


    .selector.sedan[data-selector="11"] {
        top: 21%;
    }


    .selector.sedan[data-selector="5"] {
        bottom: 6%;
    }


    .selector.sedan[data-selector="10"] {
        top: 6%;
    }


    .car-selector .selector.sedan[data-selector="4"],
    .car-selector .selector.sedan[data-selector="6"] {
        bottom: 6%;
    }


    .selector.sedan[data-selector="3"],
    .selector.sedan[data-selector="7"] {
        bottom: 37%;
    }


    .car-selector .selector.sedan[data-selector="2"],
    .car-selector .selector.sedan[data-selector="8"] {
        top: 42%;
    }


    .selector.sedan[data-selector="1"],
    .selector.sedan[data-selector="9"] {
        top: 6%;
    }


    .selector.sedan[data-selector="12"] {
        top: 50%;
    }

    /*------------------------------*/

    /*Selector hatchback orden*/


    .selector.hatchback[data-selector="13"],
    .selector.hatchback[data-selector="12"],
    .selector.hatchback[data-selector="11"] {
        left: 0;
    }


    .selector.hatchback[data-selector="12"] {
        top: 52%;
    }


    .selector.hatchback[data-selector="12"] h5 {
        bottom: 197%;
    }


    .selector.hatchback[data-selector="11"] {
        top: 22%;
    }


    .selector.hatchback[data-selector="13"] {
        bottom: 19%;
    }


    .selector.hatchback[data-selector="9"] {
        left:10%;
    }


    .selector.hatchback[data-selector="10"],
    .selector.hatchback[data-selector="5"] {
        left: 0;
    }


    .selector.hatchback[data-selector="10"] {
        top: 4%;
    }

    .selector.hatchback[data-selector="5"] {
        bottom: 4%;
    }


    .selector.hatchback[data-selector="4"],
    .selector.hatchback[data-selector="6"] {
        bottom: 4%;
    }


    .selector.hatchback[data-selector="3"],
    .selector.hatchback[data-selector="7"] {
        bottom: 35%;
    }


    .selector.hatchback[data-selector="2"],
    .selector[data-selector="8"] {
        top: 42%;
    }


    .selector.hatchback[data-selector="1"],
    .selector.hatchback[data-selector="9"] {
        top: 4%;
    }

    /*------------------------------*/

    .car-selector {
        position: relative;
        padding: 60px;
    }


    .car-selector-wrapper h2{
        margin-bottom: 8%;
    }

    .flex-row > * {
        padding: 5px;
    }
    
    .justify-between {
         margin-bottom: 0; 
    }

    body {
        padding-bottom: 161px;
    }

    .card {
        padding: 26px;
    }

    .md-50 {
        width: 50%;
    }

    .container {
        max-width: 970px;
    }

    .container-fluid {
        padding: 10px;
    }

    h2, .h2, .loader, .step .btn {
        font-size: 28px;
    }

    .menu-header {
        margin-top: 15px; 
    }

    .step {
        transform: translateY(-32px);
        width: 100px;
    }

    .step .btn {
        width: 55px;
        height: 55px;
    }

    .lg-40 {
        width: 40%;
    }

    .lg-60 {
        width: 60%;
    }

    .menu-body {
        padding: 1px;
    }
    
    .menu-body:before {
        left: 18px;
        right: 18px;
    }

    .car-selector-wrapper {
        padding: 0 128px;
    }

    .car-selector {
        margin-top: -6px;
    }

    .car-selector .selector h5 {
        display: block;
    }

    .car-selector-wrapper {
        position: relative;
    }
    

    .container-fluid > .h2{
        padding-bottom: 27px;
    }


    .piloto-copiloto {
        padding-top:5px;
    }


    svg#Capa_1 {
        padding-top: 15px;
        width: 33px;
    }


    .selector.suv[data-selector="12"] h5 {
        bottom: 74% !important;
    }
    
}

@media (min-width: 1200px) {

   /*Selector pickup orden*/

   .selector.pickup[data-selector="13"],
   .selector.pickup[data-selector="12"],
   .selector.pickup[data-selector="11"] {
        left: 0;
   }

 
   .selector.pickup[data-selector="12"] {
        top: 45%;
    }


    .selector.pickup[data-selector="13"] {
        bottom: 23%;
    }


     .selector.pickup[data-selector="11"] {
        top: 17%;
        
    }


    .selector.pickup[data-selector="10"] {
        top: 4%;
    }


    .selector.pickup[data-selector="5"] {
        bottom: 5%;
    }


    .selector.pickup[data-selector="3"],
    .selector.pickup[data-selector="7"] {
        bottom: 46%;
    }


    .selector.pickup[data-selector="2"],
    .selector.pickup[data-selector="8"] {
        top: 36%;
    }


    .selector.pickup[data-selector="4"],
    .selector.pickup[data-selector="6"] {
        bottom: 5%;
    }


    .car-selector .selector.pickup[data-selector="1"],
    .car-selector .selector.pickup[data-selector="9"] {
        top: 4%;
    }


    .selector.pickup[data-selector="1"],
    .selector.pickup[data-selector="2"],
    .selector.pickup[data-selector="3"], 
    .selector.pickup[data-selector="4"] {
        right: 0%;
    }


    .selector[data-selector="10"] h5 {
        bottom: 30px;
    }


   /*--------------------*/

   
    .selector.hatchback[data-selector="1"] {
        right: 11%;
    }

    .selector.sedan[data-selector="13"] {
        bottom: 37%;
        left: 23%;
    }


    .selector.pickup[data-selector="6"],
    .selector.pickup[data-selector="7"],
    .selector.pickup[data-selector="8"],
    .selector.pickup[data-selector="9"] {
        left: 0%;
    }

    .car-selector-wrapper h2 {
        margin: 10px 100px 0 100px;
    }


    .car-selector .selector h5 {
        display: block;
    }

    .flex-row > * {
        padding: 4px;
    }


    .selector.suv[data-selector="1"]{
        right:15%;
    }


    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="7"] {
        bottom: 50%;
    }

    .selector.suv[data-selector="4"],
    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="2"],
    .selector.suv[data-selector="1"]{
        right: 10%;
    }

    
    /*Selector suv orden*/

    .selector.suv[data-selector="13"],
    .selector.suv[data-selector="12"],
    .selector.suv[data-selector="11"] {
        left: 0;
    }


    .selector.suv[data-selector="13"] {
        bottom: 24%;
    }

    .selector.suv[data-selector="12"] {
        top: 48%;
    }


    .selector.suv[data-selector="12"] h5 {
       bottom: 48px;
    }


    .selector.suv[data-selector="11"] {
        top: 21%;
    }


    .selector.suv[data-selector="10"],
    .selector.suv[data-selector="5"] {
        right: 0;
    }
    


    .selector.suv[data-selector="10"] {
        top: 5%;
    }


    .selector.suv[data-selector="5"] {
        bottom: 5%;
    }


    .selector.suv[data-selector="4"],
    .selector.suv[data-selector="6"] {
        bottom: 5%;
    }


    .selector.suv[data-selector="9"],
    .selector.suv[data-selector="8"], 
    .selector.suv[data-selector="7"],
    .selector.suv[data-selector="6"]{
        left: 10%;
    }


    .selector.suv[data-selector="3"],
    .selector.suv[data-selector="7"] {
        bottom: 38%;
    }


    .selector.suv[data-selector="2"],
    .selector.suv[data-selector="8"] {
        top: 42%;
    }


    .selector.suv[data-selector="1"],
    .selector.suv[data-selector="9"] {
        top: 5%;
    }

    /*Selector sedan orden*/

    .selector.sedan[data-selector="13"],
    .selector.sedan[data-selector="12"],
    .selector.sedan[data-selector="11"] {
        left: 0;
    }


    .selector.sedan[data-selector="13"] {
        bottom: 12%;
    }


    .selector.sedan[data-selector="11"] {
        top: 21%;
    }


    .selector.sedan[data-selector="10"],
    .selector.sedan[data-selector="5"] {
        left:0;
    }


    .selector.sedan[data-selector="10"] {
        top: 5%;
    }

    .selector.sedan[data-selector="5"] {
        bottom: 5%;
    }


    .car-selector .selector.sedan[data-selector="4"],
    .car-selector .selector.sedan[data-selector="6"] {
        bottom: 5%;
    }


    .selector.sedan[data-selector="3"],
    .selector.sedan[data-selector="7"] {
        bottom: 37%;
    }


    .car-selector .selector.sedan[data-selector="2"],
    .car-selector .selector.sedan[data-selector="8"] {
        top: 43%;
    }


    .selector.sedan[data-selector="1"],
    .selector.sedan[data-selector="9"] {
        top: 5%;
    }


    .selector.sedan[data-selector="6"],
    .selector.sedan[data-selector="7"],
    .selector.sedan[data-selector="8"],
    .selector.sedan[data-selector="9"] {
        left: 12% !important;
    }


    .selector.sedan[data-selector="1"],
    .selector.sedan[data-selector="2"],
    .selector.sedan[data-selector="3"],
    .selector.sedan[data-selector="4"] {
        right: 12% !important;
    }


    .selector.sedan[data-selector="12"] {
        top: 51%;
    }

    /*------------------------------*/

    /*Selector hatchback orden*/

    .selector.hatchback[data-selector="9"],
    .selector.hatchback[data-selector="8"],
    .selector.hatchback[data-selector="7"],
    .selector.hatchback[data-selector="6"] {
        left: 10%;
    }

    .selector.hatchback[data-selector="13"],
    .selector.hatchback[data-selector="12"],
    .selector.hatchback[data-selector="11"] {
        left: 0;
    }

    .selector.hatchback[data-selector="13"] {
        bottom: 17%;
    }


    .selector.hatchback[data-selector="12"] {
        top: 51%;
    }


    .selector.hatchback[data-selector="12"] h5 {
        bottom: 155%;
    }


    .selector.hatchback[data-selector="11"] {
        top: 21%;
    }


    .selector.hatchback[data-selector="10"],
    .selector.hatchback[data-selector="5"] {
        right: 0;
    }
   

    .selector.hatchback[data-selector="10"] {
        top: 4%;
    }


    .selector.hatchback[data-selector="5"] {
        bottom: 4%;
    }


    .selector.hatchback[data-selector="1"],
    .selector.hatchback[data-selector="9"] {
        top: 4%;
    }


    .selector.hatchback[data-selector="4"], 
    .selector.hatchback[data-selector="6"] {
        bottom: 4%;
    }


    .selector.hatchback[data-selector="3"],
    .selector.hatchback[data-selector="7"] {
        bottom: 37%;
    }


    .selector.hatchback[data-selector="2"],
    .selector[data-selector="8"] {
        top: 43%;
    }

    /*------------------------*/


    svg#Capa_1 {
        padding-top: 13px;
        transition: all 5ms ease-in .3s;
        width: 30px;
    }


    body {
        padding-bottom: 161px;
    }

    .flex-row > * {
        padding: 15px;
    }

    .card {
        padding: 26px;
    }

    .md-50 {
        width: 50%;
    }

    .container {
        max-width: 1170px;
    }

    .container-fluid {
        padding: 10px;
    }

    h4, .h4 {
        font-size: 17px;
        font-weight: 400;
    }

    h5, .h5 {
        font-size: 16px;
    }

    .label {
        font-size: 14px;
    }

    .menu-body {
        padding: 7px;
    }
    
    .menu-body:before {
        left: 22px;
        right: 22px;
    }

    .car-selector {
        margin-right: auto;
        margin-left: auto;
        max-width: 373px;
        margin-top: 32px;
    }

    .xl-30 {
        width: 43%;
    }

    .xl-70 {
        width: 57%;
    }

}

.text-bold {
    font-weight: 700;
}

.text-light {
    font-weight: 300;
}

.text-gray {
    color: #9E9D9D;
}

.grow-1 {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.justify-center, .menu-header {
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}

body {
    max-width: 1500px;
    margin: 0 auto;
}